Body {
  background: lightsalmon;
    color:white;
    font-size: 20pt;
    font-family: 'Bitter', serif;
}

H1 {
    font-size: 45pt;
    color:white;

}

H2 {
    font-size: 26pt;
}

H3{ font-size: 24pt}